* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.btn_simple {
  color: #722ED1;
  padding: 7px 24px;
  border: 1px solid #722ED1;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn_simple:hover {
    background: #722ED1;
    color: white; }

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  line-height: 16px; }
  .btns .btn {
    color: white;
    padding: 12px 24px;
    background: #722ED1;
    border-radius: 22px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .btns .btn:hover {
      background: #5b25a7; }
    .btns .btn.btn_white {
      background: white;
      margin-left: 16px;
      color: #722ED1; }
      .btns .btn.btn_white:hover {
        background: #722ED1;
        color: white; }

#header {
  padding-top: 20px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header > .logo {
      width: 48px;
      height: 48px;
      display: block; }
      #header .inner_header > .logo > img {
        width: 100%; }
    #header .inner_header .right_side_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .inner_header .right_side_header .mnu_top {
        position: relative; }
        #header .inner_header .right_side_header .mnu_top > .has_sub_menu::after {
          width: 8px;
          height: 5px;
          content: "";
          position: absolute;
          background-image: url("../img/arrow_bottom.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          top: 12px;
          right: 24px;
          z-index: -1; }
        #header .inner_header .right_side_header .mnu_top > .has_sub_menu:hover > .sub_menu {
          display: block;
          -webkit-animation: opac 0.4s;
                  animation: opac 0.4s; }
        #header .inner_header .right_side_header .mnu_top > li {
          position: relative;
          display: inline-block;
          z-index: 6; }
          #header .inner_header .right_side_header .mnu_top > li > a {
            padding-right: 40px;
            padding-bottom: 20px;
            padding-top: 20px; }
          #header .inner_header .right_side_header .mnu_top > li > .sub_menu {
            position: absolute;
            top: 35px;
            background: white;
            -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
                    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
            border-radius: 2px;
            padding: 6px 12px 6px 12px;
            font-size: 14px;
            display: none; }
            #header .inner_header .right_side_header .mnu_top > li > .sub_menu a {
              display: block; }
          #header .inner_header .right_side_header .mnu_top > li a {
            color: #000;
            -webkit-transition: color 0.2s ease;
            transition: color 0.2s ease; }
            #header .inner_header .right_side_header .mnu_top > li a:hover {
              color: #722ED1; }

@-webkit-keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main_banner {
  padding-top: 130px;
  padding-bottom: 120px; }
  .main_banner .mb_info > h1 {
    font-size: 48px;
    line-height: 48px;
    padding-top: 24px;
    max-width: 420px;
    font-weight: 900; }
  .main_banner .mb_info .descr {
    color: #787B80;
    padding-top: 24px;
    max-width: 420px; }

.notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background: #F7F1FF;
  color: #722ED1;
  padding: 8px 16px;
  border-radius: 20px; }
  .notif p {
    padding-left: 12px; }
  .notif a {
    color: #722ED1;
    border-bottom: 1px solid #F7F1FF;
    -webkit-transition: border-bottom 0.4s ease;
    transition: border-bottom 0.4s ease; }
    .notif a:hover {
      border-bottom: 1px solid #722ED1; }

#advantages {
  padding-top: 100px; }
  #advantages .notif {
    margin: 0 auto; }
  #advantages .advantages_header {
    text-align: center; }
    #advantages .advantages_header .title {
      color: #160637;
      font-size: 32px;
      padding-top: 24px;
      font-weight: 800; }
    #advantages .advantages_header .describe {
      color: #8989A2;
      max-width: 672px;
      margin: 0 auto;
      padding-top: 24px; }
  #advantages .advantages_row {
    padding-top: 24px; }
    #advantages .advantages_row .advantages_col > img {
      display: block;
      width: 48px;
      height: 48px;
      margin: 0 auto; }
    #advantages .advantages_row .advantages_col > h3 {
      font-weight: 600;
      text-align: center;
      padding-top: 16px; }
    #advantages .advantages_row .advantages_col > p {
      color: #8989A2;
      padding-top: 16px;
      text-align: center; }

section.information {
  padding-top: 100px; }
  section.information .title {
    color: #160637;
    font-size: 32px;
    font-weight: 800;
    padding-top: 24px;
    line-height: 1.1; }
  section.information .descr {
    color: #8989A2;
    padding-top: 24px; }

#reviews {
  padding: 200px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg_reviews.svg"); }
  #reviews .rev_item {
    display: none;
    -webkit-animation: opac 1.5s;
            animation: opac 1.5s; }
    #reviews .rev_item.active {
      display: block; }
    #reviews .rev_item > .rev_cite {
      font-size: 24px;
      color: #160637;
      line-height: 32px;
      text-align: center;
      max-width: 690px;
      margin: 0 auto; }
    #reviews .rev_item > img {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      margin-top: 32px; }
    #reviews .rev_item > .rev_info {
      font-weight: 700;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      margin: 0 auto;
      text-align: center;
      margin-top: 32px; }
  #reviews .line {
    width: 100%;
    height: 1px;
    background-color: #DEC9FA;
    margin: 32px 0px; }
  #reviews .rev_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #reviews .rev_nav div {
      width: 120px;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      #reviews .rev_nav div.active {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
    #reviews .rev_nav img {
      display: block; }

#pre_footer {
  padding-top: 165px; }
  #pre_footer .trusted {
    padding-right: 55px; }
    #pre_footer .trusted > .title {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      text-align: center; }
    #pre_footer .trusted > .line {
      padding-top: 40px;
      width: 100%; }
    #pre_footer .trusted > .trusted_images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 40px;
      padding-top: 45px; }
      #pre_footer .trusted > .trusted_images > div {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        padding-bottom: 40px; }
        #pre_footer .trusted > .trusted_images > div > img {
          display: block;
          margin: 0 auto;
          cursor: pointer; }
  #pre_footer .signup {
    background-color: #F9F0FF;
    padding-left: 25px;
    padding-right: 25px; }
    #pre_footer .signup > .login_form {
      background: white;
      padding: 40px 32px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.02);
              box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.02);
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px); }
      #pre_footer .signup > .login_form > h3 {
        color: #160637;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 16px; }
      #pre_footer .signup > .login_form form > button {
        width: 100%;
        margin-bottom: 15px;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        background: #722ED1;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: background 0.4s ease;
        transition: background 0.4s ease; }
        #pre_footer .signup > .login_form form > button:hover {
          background: #5b25a7; }
      #pre_footer .signup > .login_form form > input {
        width: 100%;
        padding: 16px;
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        margin-bottom: 16px;
        font-size: 16px; }
        #pre_footer .signup > .login_form form > input::-webkit-input-placeholder {
          font-size: 16px;
          color: #8989A2; }
        #pre_footer .signup > .login_form form > input:-ms-input-placeholder {
          font-size: 16px;
          color: #8989A2; }
        #pre_footer .signup > .login_form form > input::-ms-input-placeholder {
          font-size: 16px;
          color: #8989A2; }
        #pre_footer .signup > .login_form form > input::placeholder {
          font-size: 16px;
          color: #8989A2; }
      #pre_footer .signup > .login_form form > .or {
        text-align: center;
        margin-bottom: 16px; }
      #pre_footer .signup > .login_form form > .google_btn {
        display: block;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #pre_footer .signup > .login_form form > .google_btn img {
          display: block;
          margin: 0 auto; }
        #pre_footer .signup > .login_form form > .google_btn:hover {
          -webkit-transform: scale(0.9);
                  transform: scale(0.9); }
      #pre_footer .signup > .login_form form > .line {
        width: 100%;
        height: 1px;
        background-color: #dfdfe5;
        margin-top: 16px; }
      #pre_footer .signup > .login_form form > .login {
        color: #8989A2;
        text-align: center;
        margin-top: 16px; }
        #pre_footer .signup > .login_form form > .login > a {
          color: #722ED1;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          border-bottom: 1px solid white; }
          #pre_footer .signup > .login_form form > .login > a:hover {
            border-bottom: 1px solid #722ED1; }
