@import "vars"
*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	&:focus
		outline: none

*::-webkit-input-placeholder
	color: #c0c0c0
	opacity: 1

*:-moz-placeholder
	color: #c0c0c0
	opacity: 1

*::-moz-placeholder
	color: #c0c0c0
	opacity: 1

*:-ms-input-placeholder
	color: #c0c0c0
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #000
body input:required:valid,
body textarea:required:valid
	color: #000

html,body
	height: 100% 

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	
img
	max-width: 100%

a 
	text-decoration: none
ul 
	list-style-type: none
.img-responsive
	display: block
	max-width: 100%
	height: auto

// btns
.btn_simple
		color: $accent
		padding: 7px 24px
		border: 1px solid $accent
		border-radius: 20px
		transition: all 0.5s ease
		&:hover
			background: $accent
			color: white 
.btns
	display: flex
	align-items: center
	padding-top: 24px
	line-height: 16px
	.btn
		color: white
		padding: 12px 24px
		background: $accent
		border-radius: 22px
		transition: all 0.3s ease
		&:hover
			background: darken($accent, 10%)
		&.btn_white
			background: white
			margin-left: 16px
			color: $accent
			&:hover
				background: $accent
				color: white		
// btns
#header
	padding-top: 20px
	.inner_header
		display: flex
		align-items: center
		justify-content: space-between
		>.logo
			width: 48px
			height: 48px
			display: block
			>img 
				width: 100%
		.right_side_header
			display: flex
			align-items: center
			.mnu_top
				position: relative
				>.has_sub_menu 
					&::after
						width: 8px
						height: 5px
						content: ''
						position: absolute
						background-image: url("../img/arrow_bottom.svg")
						background-repeat: no-repeat
						background-size: cover
						background-position: center
						top: 12px
						right: 24px
						z-index: -1
					&:hover>.sub_menu
						display: block
						animation: opac 0.4s

				>li
					position: relative
					display: inline-block
					z-index: 6
					>a
						padding-right: 40px
						padding-bottom: 20px
						padding-top: 20px
					>.sub_menu
						position: absolute
						top: 35px
						background: white
						box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.050)
						border-radius: 2px
						padding: 6px 12px 6px 12px
						font-size: 14px
						display: none
						a
							display: block
					a
						color: #000
						transition: color 0.2s ease
						&:hover
							color: $accent

@keyframes opac
	0%
		opacity: 0
	100%
		opacity: 1

.main_banner
	padding-top: 130px
	padding-bottom: 120px
	.mb_info
		>h1
			font-size: 48px	
			line-height: 48px	
			padding-top: 24px
			max-width: 420px
			font-weight: 900
		.descr
			color: #787B80
			padding-top: 24px
			max-width: 420px

.notif 
	display: flex
	align-items: center
	max-width: max-content
	background: $accent_light
	color: $accent
	padding: 8px 16px
	border-radius: 20px
	p
		padding-left: 12px
	a
		color: $accent
		border-bottom: 1px solid $accent_light
		transition: border-bottom 0.4s ease
		&:hover
			border-bottom: 1px solid $accent

#advantages
	padding-top: 100px
	.notif
		margin: 0 auto
	.advantages_header
		text-align: center
		.title
			color: $accent_dark
			font-size: 32px
			padding-top: 24px
			font-weight: 800
		.describe
			color: $gray
			max-width: 672px
			margin: 0 auto
			padding-top: 24px
	.advantages_row
		padding-top: 24px
		.advantages_col
			>img
				display: block
				width: 48px
				height: 48px
				margin: 0 auto
			>h3
				font-weight: 600
				text-align: center
				padding-top: 16px
			>p
				color: $gray
				padding-top: 16px
				text-align: center

section.information
	padding-top: 100px
	.title
		color: $accent_dark
		font-size: 32px
		font-weight: 800
		padding-top: 24px
		line-height: 1.1
	.descr
		color: $gray
		padding-top: 24px